* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin:0;
}

.left-section-text, .right-section-text {
    display:none;
}

.row-1 {
    border-radius: 5px;
    border: 1px solid black;
    height: 45vh;
    width: 100vw;
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.5) inset;
    background-color: #5A1C00;
}

.box, .left-section-content, .right-section-content {
    background-size: contain;
    box-shadow: inset 10px 10px 3px 2px rgba(0,0,0,0.5);
    border: 5px;
    border-style: solid;
    border-color: #5A1C00;
}

.box {
    background-image: linear-gradient(rgba(209, 208, 208, 0.5),
    rgba(210, 210, 210, 0.5)), url("../img/images.jpg");
    height: 32%;
    width: 32%;
}

.box-1-1 {
    border-top-left-radius: 10px;
}

.box-1-3 {
    border-top-right-radius: 10px;
}

.box-3-1 {
    border-bottom-left-radius: 10px;
}

.box-3-3 {
    border-bottom-right-radius: 10px;
}

/* Section to both sides of the board to show players turns and some more info */

.left-section, .right-section {
    background-image:url("../img/shutterstock_1492955081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.left-section-content, .right-section-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), url("../img/Wood_a001_color.jpg");
    height: 75%;
    width: 95%;
    border-radius: 10px;
}

.player-1-turn, .player-2-turn {
    width: 80%;
    height: 50px;
    box-shadow: inset 5px 5px 3px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)), url("../img/Wood_a001_color.jpg");
}

#monkey-token {
    height:100%;
    width:100%;
    background-image: url(../img/monkey.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#cocodrile-token {
    height:100%;
    width:100%;
    background-image: url(../img/cocodrile.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#monkey-token-panel {
    height:95%;
    width:50%;
    background-image: url(../img/monkey.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#cocodrile-token-panel {
    height:95%;
    width:50%;
    background-image: url(../img/cocodrile.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.player1-name-placeholder, .player2-name-placeholder {
    margin-left: 20px;
}

@media (min-width:992px) {
    body {
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 90vh;
    }
    .p1, .p4, .p6,.p8 {
        color: rgb(193, 5, 5);
    }
    
    .p1 {
        font-size: 2rem;
    }
    
    .p3, .p6, .p8 {
        font-size: 1.5rem;
    }
    .board {
        width: 600px;
    }

    .row-1 {
        border-radius: 5px;
        border: 1px solid black;
        height: 85vh;
        width: 600px;
        box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.5) inset;
    }

    /* Section to both sides of the board to show players turns and some more info */

    .left-section, .right-section {
        height: 85vh;
        border-radius: 5px;
    }

    .left-section-text, .right-section-text {
        display:block;
    }

    .left-section-content, .right-section-content {
        height: 90%;
        width: 95%;
        border-radius: 10px;
    }

    .player-1-turn, .player-2-turn {
        height: 25%;
    }
    .right-section-text, .left-section-text {
        height: 75%;
    }
}

