:root {
    --red: rgb(193, 5, 5);
    --green: rgb(13, 44, 31);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

.buttons-section a {
    text-align: center;
    width: 100vw;
    padding: 10px 5px;
    background-color: var(--green);
    box-shadow: inset 0 0 1px 1px black;
    color: white;
    border-radius:5px;
    text-decoration: none;
    font-size: 1rem;
}

.row-1 {
    border-radius: 5px;
    border: 1px solid black;
    height: 45vh;
    width: 100vw;
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.5) inset;
    background-color: #5A1C00;
}

.box, .left-section-content, .right-section-content {
    background-size: contain;
    box-shadow: inset 10px 10px 3px 2px rgba(0,0,0,0.5), inset -1px -1px 1px 2px rgba(0, 0, 0);
    border: 5px;
    border-style: solid;
    border-color: #5A1C00;
}

.box {
    background-image: linear-gradient(rgba(209, 208, 208, 0.5),
    rgba(210, 210, 210, 0.5)), url("../img/images.jpg");
    height: 32%;
    width: 32%;
}

.box-1-1 {
    border-top-left-radius: 10px;
}

.box-1-3 {
    border-top-right-radius: 10px;
}

.box-3-1 {
    border-bottom-left-radius: 10px;
}

.box-3-3 {
    border-bottom-right-radius: 10px;
}

/* Section to both sides of the board to show players turns and some more info */

.left-section, .right-section {
    background-image:url("../img/shutterstock_1492955081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22vh;
}

.player1, .player2 {
    width: 8em;
}

.left-section-content, .right-section-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), url("../img/Wood_a001_color.jpg");
    height: 85%;
    width: 95%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.player-1-turn, .player-2-turn {
    width: 45%;
    height: 85%;
    box-shadow: inset 5px 5px 3px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)), url("../img/Wood_a001_color.jpg");
}

.player1-name-placeholder, .player2-name-placeholder {
    color: var(--red);
}

#tokenMonkeyP1, #tokenCocodrileP1, #tokenElephantP1 ,#tokenRhinoP1, #tokenMonkeyP2, #tokenCocodrileP2, #tokenElephantP2 ,#tokenRhinoP2{
    height:100%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#tokenMonkeyP1, #tokenMonkeyP2{
    background-image: url(../img/monkey.png);
}

#tokenCocodrileP1, #tokenCocodrileP2 {
    background-image: url(../img/cocodrile.png);
}

#tokenElephantP1, #tokenElephantP2 {
    background-image: url(../img/elephant.png);
}

#tokenRhinoP1, #tokenRhinoP2 {
    background-image: url(../img/rhino.png);
}

#monkey-token-panel, #cocodrile-token-panel, #elephant-token-panel, #tokenRhino-panel {
    height:95%;
    width:50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#monkey-token-panel {
    background-image: url(../img/monkey.png);
}

#cocodrile-token-panel {
    background-image: url(../img/cocodrile.png);
}

#elephant-token-panel {
    background-image: url(../img/elephant.png);
}

#tokenRhino-panel {
    background-image: url(../img/rino.png);
}

.go-back, .start-again {
    padding: 10px 5px;
    background-color: rgb(13, 44, 31);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1rem;
}

.your-turn {
    margin: 0;
    color: var(--red);
    
}

.go-back:hover, .start-again:hover {
    background-color: rgb(176, 237, 212);
    color: rgb(13, 44, 31);
    cursor: pointer;
}

.go-back:active, .start-again:active{
    box-shadow: none;
}

/* To remove the background image from main style sheet */
.row-1::before {
    display:none;
}

/* To remove the text for small screen sizes */
.left-section-text, .right-section-text {
    display:none !important;
}

.games {
    display:none;
}
@media (min-width: 576px) {

    body {
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 90vh;
    }

    .buttons-section {
        display: none;
    }

    .p1, .p4, .p6,.p8 {
        color: var(--red);
    }

    .row-1 {
        border-radius: 5px;
        border: 1px solid black;
        height: 80vh;
        width: 600px;
        box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.5) inset;
    }

    /* Section to both sides of the board to show players turns and some more info */

    .left-section, .right-section {
        height: 80vh;
        width: 100%;
        border-radius: 5px;
    }

    .left-section-content, .right-section-content {
        height: 90%;
        width: 95%;
        border-radius: 10px;
    }

    .player-1-turn, .player-2-turn {
        height: 25%;
    }
    .right-section-text, .left-section-text {
        height: 75%;
    }
}


@media (min-width:1200px) {

    .go-back, .start-again {
        padding: 10px 5px;
        background-color: rgb(13, 44, 31);
        box-shadow: 1px 1px 1px 1px black;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
    }

    .left-section-content, .right-section-content {
        height: 95%;
        width: 95%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .left-section, .right-section {
        height: 85vh;
        width: 100%;
        border-radius: 5px;
    }

    .player-1-turn, .player-2-turn {
        width: 80%;
        height: 20%;
    }
    
    .player1-name-placeholder, .player2-name-placeholder {
        font-size: 1.5rem;
    }

    .row-1 {
        height: 85vh;
        width: 650px;
    }

    .your-turn {
        padding-left: 20px;
        font-size: 1.5rem;
        color:rgb(13, 44, 31);

    }
    .left-section-text, .right-section-text {
        height: 60%;
        display:block !important;
        font-size: 1rem;   
    }

    .p1 {
        font-size: 1.6rem;
    }
    
    .p3, .p6, .p8 {
        font-size: 1.3rem;
    }

    .games {
        display:block;
    }

}

