:root {
    --red: rgb(193, 5, 5);
    --green: rgb(13, 44, 31);
}

* {
    margin: 0;
    padding: 0;
}

/* This is to position absolute centered the pop up messages when names or tokens are missing */
.main-box {
    position: relative;
    height: 100vh;
}

.row-container1 {
    width: 100vw;
    height: 20%;
}

.row-container2 {
    width: 100vw;
    height: 40%;
}

.player-1-container, .player-2-container, .title-container {
    height: 100%;
    background-image:url("../img/shutterstock_1492955081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player-2-container {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.player-content, .title-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), url("../img/Wood_a001_color.jpg");
    height: 95%;
    width: 95%;
    border-radius: 10px;
    background-size: contain;
    box-shadow: inset 10px 10px 3px 2px rgba(0,0,0,0.5);
    border: 5px;
    border-style: solid;
    border-color: #5A1C00;
}

.player-1-token {
    background-image: url(../img/x-token.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
}

.tokens-container {
    height: 50%;
    width: 90%;
    box-shadow: inset 5px 5px 3px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)), url("../img/Wood_a001_color.jpg");
}

.player-token-1, .player-token-2, .player-token-3, .player-token-4  {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 25%;
    cursor: pointer;
}

.player-2-input, .player-1-input {
    font-family: sans-serif;
}

.player-token-1{ 
    background-image: url(../img/cocodrile.png);
}

.player-token-2 {
    background-image: url(../img/elephant.png);
}

.player-token-3 {
    background-image: url(../img/monkey.png);
}

.player-token-4 {
    background-image: url(../img/rhino.png);
}

.p-red, .p-red-title {
    color: var(--red);
}

.p-red-title, .p-black-title {
    display: none;
}

.input-div {
    width: 85%;
}

.buttons-container {
    width: 50%;
}

.start-button, .reset-button {
    padding: 5px 5px;
    background-color: var(--green);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
}

.start-button:hover, .reset-button:hover {
    background-color: rgb(176, 237, 212);
    color: rgb(13, 44, 31);
    cursor:pointer;
}

.start-button:active {
    box-shadow: none;
}

.player-token-selected {
    transform: scale(150%);
    transition: 2s;
}

.disabled-token {
    pointer-events:none;
}

.names-missing-container, .token-missing-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.message-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    width: 50%;
    height: 30%;
    color:rgb(13, 44, 31);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8));
    border-radius: 15px;
}

.message-btn-container:hover {
    box-shadow: 1px 1px 20px 5px var(--green);
}

.btn-names-missing, .btn-token-missing {
    height: 15%;
    width: 25%;
    z-index: 2;
    color: white;
    background-color:var(--green); 
    border-radius: 15px;
}

.btn-names-missing:hover, .btn-token-missing:hover {
    cursor:pointer;
    color: var(--green);
    background-color:rgb(176, 237, 212);
    box-shadow: 1px 1px 5px 5px var(--green);
}

.human, .cpu {
    padding: 5px 5px;
    background-color: var(--green);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
}

.human:hover, .cpu:hover {
    background-color: rgb(176, 237, 212);
    color: var(--green);
    cursor: pointer;
}

.human:active, .cpu:active{
    box-shadow: none;
}
.cpu-selected {
    background-color: rgb(176, 237, 212);
    color: var(--green);
}
@media(min-width: 576px) {

    .player-1-container, .player-2-container, .title-container {
        height: 40vh;
    }

    .start-button {
        padding: 40px 25px;
        font-size: 1.5rem;
    }

    .player-1-container {
        border-bottom-left-radius: 15px;
    }
    
    .player-2-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }
}

@media (min-width: 992px) {
    body {
        height: 85vh;
    }
    .main-box {
        position: relative;
        height: 100%;
    }
    
    .row-container1 {
        width: 95vw;
        height: 40%;
    }
    
    .row-container2 {
        width: 95vw;
        height: 60%;
    }

    .input-div {
        width: 90%;
    }

    .start-button, .reset-button {
        padding: 30px 15px;
        background-color: rgb(13, 44, 31);
        box-shadow: 1px 1px 1px 1px black;
        color: white;
        border-radius: 50%;
        text-decoration: none;
        font-size: 1rem;
    }
    
    .start-button:hover {
        background-color: rgb(176, 237, 212);
        color: rgb(13, 44, 31);
        cursor:pointer;
    }

    .player-token-selected {
        transform: scale(200%);
    }

    .player-token-1:hover, .player-token-2:hover, .player-token-3:hover, .player-token-4:hover  {
        transform: scale(200%);
        transition: 2s;
    }

    .player-1-container, .player-2-container{ 
        height: 100%;
    }

    .title-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .title-content {
        height: 85%;
    }

    .p-titles {
        height: 100%;
        width: 95%;
    }

    .p-red-title, .p-black-title {
        font-size: 1.5rem;
        display: block;
    }

    .p-black-title {
        font-size: 1.4rem;
    }

    .p-red-title {
        font-size: 1.8rem;
    }

    .buttons-container {
        width: 25%;
    }
}
