.row-container {
    width: 95%;
}

.player-1-container, .player-2-container, .title-container {
    height: 400px;
    background-image:url("../img/shutterstock_1492955081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player-1-container {
    border-bottom-left-radius: 15px;
}

.player-2-container {
    border-bottom-right-radius: 15px;
}

.title-container {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.player-content, .title-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), url("../img/Wood_a001_color.jpg");
    height: 95%;
    width: 95%;
    border-radius: 10px;
    background-size: contain;
    box-shadow: inset 10px 10px 3px 2px rgba(0,0,0,0.5);
    border: 5px;
    border-style: solid;
    border-color: #5A1C00;
}

.title-content {
    width: 60%;
    height: 100%;
}

.player-1-token {
    background-image: url(../img/x-token.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
}

.tokens-container {
    height: 50%;
    width: 90%;
    box-shadow: inset 5px 5px 3px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)), url("../img/Wood_a001_color.jpg");
}

.player-token-1, .player-token-2, .player-token-3, .player-token-4  {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 25%;
}

.player-2-input, .player-1-input {
    font-family: sans-serif;
}

.player-token-1{ 
    background-image: url(../img/cocodrile.png);
}

.player-token-2 {
    background-image: url(../img/elephant.png);
}

.player-token-3 {
    background-image: url(../img/monkey.png);
}

.player-token-4 {
    background-image: url(../img/hipo.png);
}

.player-token-1:hover, .player-token-2:hover, .player-token-3:hover, .player-token-4:hover  {
    transform: scale(200%);
    transition: 2s;
}

.p-red {
    color: rgb(193, 5, 5);
}

.start-button {
    padding: 40px 25px;
    background-color: rgb(13, 44, 31);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
}

.start-button:hover {
    background-color: rgb(176, 237, 212);
    color: rgb(13, 44, 31);
}

.start-button:active {
    box-shadow: none;
}


