.title-container {
    height: 200px;
    border-style: dotted;
}

.player-1-container, .player-2-container {
    height: 400px;
    border: 5px solid red;
    border-style: dotted;
}

.player-1-token {
    background-image: url(../img/x-token.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
}

.tokens-container {
    height: 60%;
}

.player-token-1, .player-token-2, .player-token-3, .player-token-4  {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 25%;
}

.player-2-input, .player-1-input {
    font-family: sans-serif;
}

.player-token-1{ 
    background-image: url(../img/cocodrile.png);
}

.player-token-2 {
    background-image: url(../img/elephant.png);
}


.player-token-3 {
    background-image: url(../img/monkey.png);
}


.player-token-4 {
    background-image: url(../img/hipo.png);
}

.player-token-1:hover, .player-token-2:hover, .player-token-3:hover, .player-token-4:hover  {
    transform: scale(200%);
    transition: 2s;
}

.start-button {
    padding: 10px 20px;
    background-color: rgb(192, 121, 121);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.start-button:hover {
    background-color: white;
    color: rgb(192, 121, 121);
}

.start-button:active {
    box-shadow: none;
}


