
body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 219, 219);
}

.main-box {
    margin-top: 150px;
}

.box-flap {
    height: 202.5px;
}

.row-1 {
    position: relative;
    width: 405px;
}

.start {
    transition-property: transform;
    left:175px;
    top: 175px;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    z-index: 1;
}

.start:hover {
    transform: rotate(180deg);
    transition-duration: 6s;
}

