
.box {
    height: 95% ;
    width: 100vw;
    font-size: 1.2rem;
    color: rgb(193, 5, 5); 
}
.left-section, .right-section{
    height: 30vh;
}

.board{
    height: 40vh;
}

.row-1 {
    height: 100%;
}
.row-player {
    height: 85%;
    width: 95%;
}

.player-2-turn, .player-1-turn {
    height: 50%;
}

.again-back {
    width: 95%;
}

.play-again {
    padding: 15px 15px;
    background-color: rgb(13, 44, 31);
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.8rem;
}

.play-again:hover {
    background-color: rgb(176, 237, 212);
    color: rgb(13, 44, 31);
    cursor: pointer;
}

.play-again:active {
    box-shadow: none;
}

@media (min-width: 576px){
   
    .board{
        height: 55vh;
    }

    .left-section, .right-section{
        height: 55vh;
    }

    .play-again {
        padding: 20px 20px;
        font-size: 1rem;
    }

    .again-back {
        width: 85%;
    }

    .box {
        height: 100%;
        font-size: 1.5rem;
    }
    
    .row-1 {
        height: 100%;
    }

    .row-player {
        transition-property: transform;
        height: 90%;
    }

    .player-2-turn, .player-1-turn {
        height: 85%;
    }

    @keyframes rotating {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }

    #tokenMonkeyP1, #tokenCocodrileP1, #tokenElephantP1 ,#tokenRhinoP1, #tokenMonkeyP2, #tokenCocodrileP2, #tokenElephantP2 ,#tokenRhinoP2 {
        height: 90%;
        animation: rotating 3s linear infinite;
    }

    .winner-tokenP1, .winner-tokenP2 {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1200px){

    .again-back {
        width: 60%;
    }

    .play-again {
        padding: 30px 20px;
        font-size: 1.1rem;
    }
    .box {
        font-size: 3rem;
    }

    .left-section, .right-section, .board{
        height: 85vh;
    }
    .box {
        background-repeat: no-repeat;
        background-size: cover;
    }
}
