.title-container, .player-1-container, .player-2-container {
    height: 35%;
}

.player-1-container {
    background-image: url(../img/winner\ frame.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}